# Dependencies
node_modules/

# Production Build Output
dist/

# Environment secrets (Do NOT commit sensitive credentials to GitHub)
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
